# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.meta
/*.meta
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
GGJ15/Assembly-CSharp-Editor-vs.csproj
GGJ15/Assembly-CSharp-Editor.csproj
GGJ15/Assembly-CSharp-firstpass-vs.csproj
GGJ15/Assembly-CSharp-firstpass.csproj
GGJ15/Assembly-CSharp-vs.csproj
GGJ15/Assembly-CSharp.csproj
GGJ15/GGJ15-csharp.sln
GGJ15/GGJ15.sln
